files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root
    content: |
      license_key: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NR_LICENSE_KEY"}}`
      display_name: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NR_DISPLAY_NAME"}}`

  "/etc/newrelic.yml" :
    mode: "000644"
    owner: root
    group: root
    content: |
      common:
        license_key: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NR_LICENSE_KEY"}}`
        app_name: `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "NR_DISPLAY_NAME"}}`

commands:
#------- New relic infraestructure agent -------
# Create the agent’s yum repository
  "01-agent-repository":
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/amazonlinux/2/x86_64/newrelic-infra.repo
#
# Update your yum cache
  "02-update-yum-cache":
    command: yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
#
# Run the installation script
  "03-run-installation-script":
    command: sudo yum install newrelic-infra -y
#------- New relic apm java agent -------
# Download .zip
  "04-download-java-agent":
    command: sudo curl -o /var/newrelic-java.zip https://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic-java.zip
#
# Extract agent
  "05-unzip-java-agent":
    command: unzip -o /var/newrelic-java.zip -d /var/newrelic-apm/
#
# Give execution permissions to extracted folder
  "06-give-permissions-to-newrelic":
    command: chmod a+rwx /var/newrelic-apm/newrelic

#
# Overrride apm configuration
  "07-override-apm-configuration":
    command: cp /etc/newrelic.yml /var/newrelic-apm/newrelic/newrelic.yml

option_settings:
  -
    namespace: "aws:elasticbeanstalk:application:environment"
    option_name: "JAVA_TOOL_OPTIONS"
    value: "-javaagent:/var/newrelic-apm/newrelic/newrelic.jar"